footer#footer {
  display: none;
}
footer#footer.customized {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer#footer.customized b {
  font-weight: bold;
}

#help_tray a[href="https://community.canvaslms.com/community/ideas/feature-ideas"] {
  display: none;
}
#help_tray a[href="https://community.canvaslms.com/community/ideas/feature-ideas"] + div {
  display: none;
}

#login-error-message li {
  font-weight: normal !important;
  margin-left: 10px;
}
#login-error-message p {
  padding: 5px 10px 5px 10px;
  font-weight: normal;
}

body.settings aside#right-side table.summary {
  display: none;
}

h3.end-date-inline {
  border: solid 1px blue;
}

body.no-headers.grades div#gradebook_header_container div#gradebook_header {
  background-color: #005994;
}

.augment-no-external span.ui-icon-extlink {
  display: none;
}

.augment-grades-button {
  margin-left: 4px;
}

div#treat_ungraded_as_zero_warning {
  background-color: #de8a4f;
  color: #fff;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
div#treat_ungraded_as_zero_warning b {
  text-transform: uppercase;
}
div#treat_ungraded_as_zero_warning a {
  text-decoration: underline;
}

.addUsersViaEEEContainer a#addUsersViaEEE {
  margin-left: 10px;
  text-decoration: none;
}

#webRoster {
  margin-right: 5px;
}
#webRoster .ui-icon-extlink {
  display: none;
}
