:root {
        --ic-brand-primary-darkened-5: #005F9C;
--ic-brand-primary-darkened-10: #005A94;
--ic-brand-primary-darkened-15: #00558C;
--ic-brand-primary-lightened-5: #0C6BA8;
--ic-brand-primary-lightened-10: #1973AD;
--ic-brand-primary-lightened-15: #267BB1;
--ic-brand-button--primary-bgd-darkened-5: #005F9C;
--ic-brand-button--primary-bgd-darkened-15: #00558C;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #005A94;
--ic-link-color-lightened-10: #1973AD;
--ic-brand-primary: #0064a4;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #0064a4;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #0064a4;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #f1c11f;
--ic-brand-global-nav-menu-item__badge-bgd: #f1c11f;
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #0064a4;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_44070000000000001/attachments/3921255/uci-canvas-pathed.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-f2359ad914.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-52212226d6.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #0064a4;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #0064a4;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_44070000000000001/attachments/3921257/canvas-badge-paths.svg');
--ic-brand-Login-Content-bgd-color: #0064a4;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #0064a4;
      }